server:
  port: 9001
spring:
  application:
    name: auth-service
  config:
    import: optional:configserver:http://localhost:8888
  threads:
    virtual:
      enabled: true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
